<div class="text-gray-900">
  <!-- Header -->
  <div
    class="fixed w-full flex justify-between items-center py-8 px-[8%] bg-white border-b"
  >
    <img src="/assets/img/logo.png" alt />
    <div class="md:flex md:gap-12 justify-center items-center hidden">
      <a href="#" class="text-gray-600 hover:text-gray-900">Login</a>
      <a href="#" class="text-gray-600 hover:text-gray-900">Sign Up</a>
      <button
        href="#"
        class="flex gap-2 px-4 md:px-6 py-2 md:py-3 bg-black text-white rounded-sm"
      >
        Get Started
        <img src="/assets/svg/ArrowUpRight.svg" alt />
      </button>
    </div>
    <img src="/assets/svg/burger.svg" alt class="md:hidden w-6 h-6" />
  </div>

  <div class="bg-1 px-[8%]">
    <!-- Hero div -->
    <div class="py-12 md:py-20 border-b grad-2">
      <div class>
        <div class="h-24 w-1/2"></div>
        <p
          class="text-2xl md:text-5xl w-4/5 md:w-2/5 leading-normal md:leading-snug font-normal"
        >
          Empowering Global Businesses With Tailored Payment Solutions.
        </p>
      </div>
      <!-- <img src="/assets/svg/abstract-1.svg" alt class="w-40" /> -->
      <p class="text-base md:text-xl mt-4">
        Merchant payment solutions for mid & high-Risk Ventures
      </p>
    </div>

    <!-- Features div -->
    <div class="py-8 md:py-20">
      <div class>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8">
          <div class>
            <p class="mt-4 text-lg font-medium mb-6">
              Built For Bold Businesses
            </p>
            <img src="/assets/img/img-4.png" alt class="w-full object-cover" />
            <p class="mt-2 text-gray-600">
              Providing merchant payment solutions to medium- and high-risk
              businesses.
            </p>
          </div>
          <div class>
            <p class="mt-4 text-lg font-medium mb-6">Grow Revenue Securely</p>
            <img src="/assets/img/img-2.png" alt class="w-full object-cover" />

            <p class="mt-2 text-gray-600">
              Merchant payment solutions for mid- & high-Risk Ventures
            </p>
          </div>
          <div class>
            <p class="mt-4 text-lg font-medium mb-6">
              Boost Sales With Checkout
            </p>
            <img src="/assets/img/img-3.png" alt class="w-full object-cover" />

            <p class="mt-2 text-gray-600">
              Merchant payment solutions for mid- & high-Risk Ventures
            </p>
          </div>
          <div>
            <p class="mt-4 text-lg font-medium mb-6">Multi-Currency Gateway</p>
            <img src="/assets/img/img-1.png" alt class="w-full object-cover" />

            <p class="mt-2 text-gray-600">
              Merchant payment solutions for mid- & high-Risk Ventures
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Optimize div -->
  <div class="py-20 px-[8%] bg-[#030119] text-white bg-2">
    <div class="md:text-center md:pb-16 pb-6 border-slate-950 border-b">
      <p class="text-2xl md:text-5xl font-normal pb-4">
        Optimize Your Payments.
      </p>
      <p
        class="mt-4 text-base md:text-2xl md:w-3/5 md:mx-auto text-[#D8D6E3] font-extralight"
      >
        Experience the excitement Our Zero downtime, multi-currency collections,
        and streamlined cash flow management product have to offer
      </p>
    </div>
    <div class="grid grid-cols-1 my-8 md:my-16">
      <div
        class="block md:flex justify-between border-slate-950 border-b py-10"
      >
        <div
          class="flex mb-6 md:mb-0 md:gap-8 gap-4 w-full md:w-2/5 md:items-center"
        >
          <img src="../assets/img/frame-1.png" alt class="w-12 h-12" />
          <p
            class="text-2xl font-medium w-full md:w-3/4 leading-normal md:leading-snug"
          >
            Multi-Currency Payment Options
          </p>
        </div>
        <p class="mt-2 text-gray-300 text-sm w-full md:w-2/5">
          We partner with you to expand your business reach by supporting
          worldwide currencies and different payment types.
        </p>
      </div>
      <div
        class="block md:flex justify-between border-slate-950 border-b py-10"
      >
        <div
          class="flex mb-6 md:mb-0 md:gap-8 gap-4 w-full md:w-2/5 md:items-center"
        >
          <img src="../assets/img/frame-2.png" alt class="w-12 h-12" />
          <p
            class="text-2xl font-medium w-full md:w-3/4 leading-normal md:leading-snug"
          >
            Cryptocurrency Payment Collections
          </p>
        </div>
        <p class="mt-2 text-gray-300 text-sm w-full md:w-2/5">
          With LinPay, you will be able to accept a range of stable coins for
          deposits. You will get paid directly to your bank account in any of
          these Fiat currencies: €, $,or £.
        </p>
      </div>
      <div
        class="block md:flex justify-between border-slate-950 border-b py-10"
      >
        <div
          class="flex mb-6 md:mb-0 md:gap-8 gap-4 w-full md:w-2/5 md:items-center"
        >
          <img src="../assets/img/frame-3.png" alt class="w-12 h-12" />
          <p
            class="text-2xl font-medium w-full md:w-3/4 leading-normal md:leading-snug"
          >
            Real-Time Notification
          </p>
        </div>
        <p class="mt-2 text-gray-300 text-sm w-full md:w-2/5">
          Never miss a transaction. Get instant alerts for every payment
          activity, so you can stay updated on your cash flow in real-time. Our
          notifications ensure that you're always in the loop, wherever you are.
        </p>
      </div>
      <div
        class="block md:flex justify-between border-slate-950 border-b py-10"
      >
        <div
          class="flex mb-6 md:mb-0 md:gap-8 gap-4 w-full md:w-2/5 md:items-center"
        >
          <img src="../assets/img/frame-4.png" alt class="w-12 h-12" />
          <p
            class="text-2xl font-medium w-full md:w-3/4 leading-normal md:leading-snug"
          >
            Secure APIs
          </p>
        </div>
        <p class="mt-2 text-gray-300 text-sm w-full md:w-2/5">
          Integrate our reliable payment APIs with ease. Designed with security
          at the forefront, our APIs provide a solid foundation for your
          business to build upon, ensuring safe and secure transactions every
          time.
        </p>
      </div>
    </div>
  </div>
  <div class="bg-3">
    <!-- Trust div -->
    <div class="py-10 md:flex justify-between items-center px-[8%]">
      <div class="md:w-2/5 w-4/5">
        <p class="text-2xl md:w-4/5 md:text-5xl font-normal tracking-snug">
          Trust In Reliable Payment Solutions.
        </p>
      </div>
      <div class="md:w-2/5">
        <p class="mt-4 text-base md:text-xl">
          Businesses deserve a payment partner that prioritizes security and
          efficiency. Count on us to support your growth and handle your
          transactions with the utmost care.
        </p>
        <div class="mt-8 flex gap-6">
          <button
            href="#"
            class="flex gap-2 px-4 md:px-6 py-2 md:py-3 bg-black text-white rounded-sm"
          >
            Get Started
            <img src="/assets/svg/ArrowUpRight.svg" alt />
          </button>

          <button
            href="#"
            class="px-4 md:px-6 py-2 md:py-3 border border-black text-black rounded-sm hover:bg-blue-600 hover:text-white"
          >
            Talk to Sales
          </button>
        </div>
      </div>
    </div>
    <!-- Footer -->
    <footer class="px-[8%] py-20">
      <div class="grid grid-cols-2 gap-6 md:flex justify-between">
        <div>
          <img src="/assets/img/logo.png" alt class="w-24 mb-6" />
          <p class="text-sm w-11/12">
            Fortifying Your Finances, Expanding Your Reach.
          </p>
        </div>
        <div>
          <p class="text-lg font-medium mb-6">Product</p>
          <p class="text-sm">Demo</p>
        </div>
        <div>
          <p class="text-lg font-medium mb-6">Company</p>
          <p class="text-sm">Demo</p>
        </div>
        <div>
          <p class="text-lg font-medium mb-6">Learn & Resources</p>
          <div>
            <p class="text-sm">Support</p>
            <p class="text-sm">Developer</p>
          </div>
        </div>
        <div>
          <p class="text-lg font-medium mb-6">Media</p>
          <div>
            <p class="text-sm">Terms & Conditions</p>
            <p class="text-sm">Privacy Policy</p>
          </div>
        </div>
      </div>
      <div class="flex pt-20 justify-between">
        <p>2023 Linpay. All Rights Reserved.</p>
        <img src="../assets/img/twitter.png" />
      </div>
    </footer>
  </div>
</div>
